@charset "UTF-8";
/*********** 공통 ***********/
body {font-size: 38px;}

/*********** 레이아웃 ***********/
.container-fluid { padding: 0px 0px 0px 0px;}

.content-top {
	background-color: #990033;
}

.content-main {
	padding: 0px 10px 10px 10px;
	/* background-color: #ff80c0;	 */
}

/*********** 공통 ***********/
.section {
	padding: 40px 0px 20px 0px;
	border-bottom: 1px solid #000000;
}

.section .step {
	
}

.section .step .badge {
	width: 44px;
	height: 44px;
	padding: 3px 0px 0px 0px;
	font-size: 40px;
	font-weight: bold;
	border-radius: 22px;
	background-color: #777777;
	vertical-align: inherit;
	
}

.section .step-desc {padding: 0px 0px 0px 48px;}







/* .article {} */

/*********** android ***********/
#android #btnCopy {
	font-size: 40px;
	padding: 4px 10px 2px 10px;
	vertical-align: top;
	
}

#android #txtNick {
	width: 170px;
	height: 65px;
	padding: 0px 0px 0px 0px;
	font-weight: bold;
	text-align: center;
	
}